<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{layouts/base :: layout(~{::title}, ~{::main})}">
<head><title>Início</title></head>
<body>
<main class="card wide">
    <h1>Bem-vindo, <span sec:authentication="name"></span>!</h1>
    <p>Essa é a sua área no Portal da Escola. Caso houver dúvidas, entre em contato com o administrador.</p>
    <p sec:authorize="hasRole('ALUNO')" class="badge">Perfil: Aluno</p>
    <p sec:authorize="hasRole('PROFESSOR')" class="badge">Perfil: Professor</p>
    <p sec:authorize="hasRole('ADMIN')" class="badge">Perfil: Administrador</p>
</main>
</body>
</html>